<header class="masthead" style="background-image: url(&quot;assets/img/details-bg.jpg&quot;);">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <div>
                        <h1 class = "h1"></h1>
                        <h4 class = "h4"></h4>
                        <p><i></i></p>
                    </div>
                </div>
                <!----><!---->
            </div>
        </div>
    </div>
</header>
<div class="overlay"></div>

